# Python
venv/
__pycache__/
*.pyc
*.pyo

# OS/Editor
.DS_Store

# Environment
.env

# Project Data
data/
results/
logs/

# Simulation outputs
src/sim-toolbox/*/output/

# Docker Compose override
docker-compose.override.yml
